{% extends 'layout/layout.html.twig' %}
{% block body %}
   <div class="wrapper wrapper-content">
      <div class="row">
         <div class="col-lg-4">
            <div class="widget style1 white-bg">
               <div class="row">
                  <div class="col-xs-4">
                     <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                     <span> J'aime </span>
                     <h2 class="font-bold">{{ aime }}</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="widget style1 white-bg">
               <div class="row">
                  <div class="col-xs-4">
                     <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                     <span> J'aime pas</span>
                     <h2 class="font-bold">12</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="widget style1 white-bg">
               <div class="row">
                  <div class="col-xs-4">
                     <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                     <span> Avis </span>
                     <h2 class="font-bold">12</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="widget style1 white-bg">
               <div class="row">
                  <div class="col-xs-4">
                     <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                     <span> Note </span>
                     <h2 class="font-bold">12</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="widget style1 white-bg">
               <div class="row">
                  <div class="col-xs-4">
                     <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                     <span> Lieux </span>
                     <h2 class="font-bold">12</h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="widget style1 white-bg">
               <div class="row">
                  <div class="col-xs-4">
                     <i class="fa fa-user fa-5x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                     <span> Demande d'ajout </span>
                     <h2 class="font-bold">12</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
